.git
.gitignore
.env
.env.*
!.env.example
.venv
env
venv
**/__pycache__
*.py[cod]
*.sqlite3
credentials
secrets
media
staticfiles
.terraform
*.tfstate
*.tfstate.*
terraform.tfvars
.ansible
*.log
.DS_Store
