# Python & Django
*.pyc
*__pycache__*
.venv/
env/
venv/
db.sqlite3
media/
staticfiles/
.env
.env.*
!.env.example

# Chaves de Credenciais & Segredos de Produção (LGPD & Cofre CDC)
credentials/
secrets/
*.json
!package.json
!tsconfig.json
*.pfx
*.pem
*.key
*.crt
*.asc

# Arquivos temporários e de SO
Templates/
.DS_Store
*.log

# Terraform & Ansible (Nave Mãe IaC)
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.retry
.ansible/

