# Variáveis de Ambiente do Ansible Semaphore — Nave Mãe CDC Core

SEMAPHORE_DB_PASS=semaphore_pass_cdc2026
SEMAPHORE_ADMIN_USER=admin
SEMAPHORE_ADMIN_PASSWORD=admin_cdc_nave_mae
SEMAPHORE_ACCESS_KEY_ENCRYPTION=cdc_nave_mae_encryption_key_2026
